*{
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

body{
  margin: 0px;
  padding: 0px;
  background-color: #D0D0CE;
  font-family: 'Times New Roman', Times, serif;

}

a{
  text-decoration: none;
}

a:hover{
  color:blue
 
}

/* START: Navbar*/
.navBar{
    overflow: hidden;
    background-color: #314528;
    height: 150px;
    width: 100%;

}

nav img{
    float: left;
    width: 200px;
    height: 150px;
    padding-left: 20px;
   
}

nav li a{
    text-decoration: none;
}


nav li{
    float: left;
    list-style: none;               /*Dropdownlist items display commands*/
    padding-top: 50px;
    padding-left: 30px;
    padding-right:100px;
   

}

.dropdown-content{
    display: none;
    background-color:olive;
    padding-right: 20px;
    position: absolute;
    box-sizing: border-box;
    width: 230px;
   
}

.dropdown-content a{
    display: grid;

}

.dropdown:hover .dropdown-content{ 
    display: block;
    line-height: 2.0;
   
}

.dropdown-content a:hover{
    background-color: beige;
    
}
/*END: NavBar*/

/*START: IMAGE GALLERY*/  
 .media img{
    display: inline-block;
    padding-bottom: 10px;
    box-shadow: 0 8px 8px 0 green;
    background: white;
       
 }

  .box{
    display: inline-block;
    margin-top: 0;
    filter: grayscale(100%);
    background: white;
  }

  .container{
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
  }

  .red img{
    display: inline;
    width: 300px;
    height: auto;
  }
  .box .media:before {
    content: '';
    position: absolute;
    z-index: 0;
    transition: all 0.35s;
  }
  .box:nth-of-type(4n+1) {
    transform: scale(0.8, 0.8) rotate(5deg);
    transition: all 0.35s;
  }
  .box:nth-of-type(4n+1) .media:before {
    transform: rotate(6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
  }
  .box:nth-of-type(4n+2) {
    transform: scale(0.8, 0.8) rotate(-5deg);
    transition: all 0.35s;
  }
  .box:nth-of-type(4n+2) .media:before {
    transform: rotate(-6deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    left: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
  }

  .box:nth-of-type(4n+4) {
    transform: scale(0.8, 0.8) rotate(3deg);
    transition: all 0.35s;
  }
  .box:nth-of-type(4n+4) .media:before {
    transform: rotate(4deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    right: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
  }
  .box:nth-of-type(4n+3) {
    transform: scale(0.8, 0.8) rotate(-3deg);
    transition: all 0.35s;
  }
  .box:nth-of-type(4n+3) .media:before {
    transform: rotate(-4deg);
    height: 20%;
    width: 47%;
    bottom: 30px;
    left: 12px;
    box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
  }

 
  .box:hover {
    filter: none;
    transform: scale(1, 1) rotate(0deg);
    transition: all 0.35s;
  }
  .box:hover .media:before {
    content: '';
    position: absolute;
    z-index: -1;
    transform: rotate(0deg);
    height: 90%;
    width: 90%;
    bottom: 0%;
    right: 5%;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
    transition: all 0.35s;
  }
  
/*END: IMAGE GALLERY*/

/*START:FORM*/
.display{
    display: flex;
    padding-left:50px;
    padding-right: 50px;
    padding-bottom: 100px;
    background-color: rgb(118, 149, 118);
}

.imgs3 img{
  display: inline;
  height:50px;
  width: 50px;
  border-radius: 18px;
 
}

.angle{
    margin-top: 150px;
}

h2{
    text-shadow: 2px 3px goldenrod;
    font-size: 44px;
}

.address{
    text-align: left;
    margin-top: 35px;
    margin-left: 800px;
 

}
.box1{
    white-space: pre-line;
}
form{
    padding-left: 35px;

}


.title{
    font-size: 18px;
   padding-top: 50px;
    text-decoration: underline;
    font-weight: bold;

}

#email{ 
    border: 20px;
    width: 600px;
    padding: 10px;

}

input{
    border: solid;
    border-width: 1px;
    box-sizing:border-box;
    padding: 10px;

   
}

select{
    border: solid;
    border-width: 1px;
    width: 600px;
    padding: 10px;
}

#message{
    width: 600px;
    height:100px;
    padding: 10px;
    
}

#button{
    padding:10px;
    width: 80px;
    background-color: white;

    
}

#fullname{
    width: 600px;
    padding: 10px;
}

.align{
    display: inline;
}
/*END:FORM*/
